<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

	<appender name="default" class="org.apache.log4j.ConsoleAppender">
		<param name="target" value="System.out" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%p] %d{dd MMM hh:mm:ss.SSS aa} %t [%c]%n%m%n%n" />
		</layout>
	</appender>

	<!-- appender name="util" class="org.apache.log4j.FileAppender">
		<param name="File" value="${catalina.base}/logs" />
		<param name="Append" value="true" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%p] %d{dd MMM hh:mm:ss.SSS aa} %t [%c]%n%m%n%n" />
		</layout>
	</appender-->

	<logger name="pi.vocal">
		<level value="ALL" />
	</logger>

	<root>
		<level value="info" />
		<appender-ref ref="default" />
		
		<!-- disabled since it does not work within eclipse -->
		<!-- appender-ref ref="util" /-->
	</root>


</log4j:configuration>
